<div class="ui modal editreview" id="small-modal">
<div>
    <input type="number" class="form-control" step="0.1" id="black-text" ng-model="vm.newReview.those_movie_guys_rating[review.id]" placeholder="{{review.those_movie_guys_rating}}">
    <input type="text_field" class="form-control" id="black-text" ng-model="vm.newReview.those_movie_guys_review[review.id]" placeholder="{{review.those_movie_guys_review}}">
</div>
  <button  align="left" type="submit" class="btn btn-default" ng-click="vm.editReviewRating(review.id)">Submit Edit</button>
  <button type="reset" align='right' ng-click="vm.reset()" class="btn btn-default">Reset Form</button>

</div>