<br></br>
<h1 align="center">Create Review</h1>
<br></br>
<div class="ui inverted segment">
  <form class="ui inverted form" name="createReview">
    <div class="four fields">
      <div class="field">
        <label>IMDB Id</label>
        <input ng-model="vm.newReview.imdb_id" name="imdb_id" placeholder="Copy IMDB Id from URL" type="text" maxlength="9" minlength="9" required ng-pattern="/^t{2}[0-9]{7}/">
        <span style="color:red" ng-show="createReview.imdb_id.$error.required" ng-message="required">This field is required</span>
        <span style="color:red" ng-show="createReview.imdb_id.$error.pattern" ng-message="pattern">Must be a valid IMDB id</span>
        </div>
      </div>
      <div class="field">
        <label>Viewing Platform</label>
        <input type="text" ng-model="vm.newReview.viewing_platform" name="platform" placeholder="Where did you watch this on?" required>
        <span style="color:red" ng-show="createReview.platform.$error.required" ng-message="required">This field is required</span>
      </div>
      <div class="field">
        <label>Rating</label>
        <input type="number" step="0.1" string-to-number ng-model="vm.newReview.those_movie_guys_rating" name="rating" placeholder="Rating 1-10 (Decimal)" required>
      <div class="field">
        <label>Review</label>
        <textarea rows="2" ng-model="vm.newReview.those_movie_guys_review" name="review" placeholder="Short Description" required></textarea>

      </div>
    </div>
    <div class="ui submit button" ng-click="createReview.$valid && vm.createReviewInformation()">Submit</div>
    <div class="ui submit button" ng-click="vm.reset()">Reset Form</div>
  </form>
</div>


