
<select class="ui dropdown" ng-options="list.name for list in hm.user.lists" ng-model="vm.selectedList" ng-show="hm.user && hm.user.lists.length > 0">
  <option ng-selected="true" value="">Select One Of Your Lists</option>
</select>


<br></br>

<div class="ui items">
  <div class="item">
    <!-- Image -->
    <div class="ui medium image">
      <div class="ui blue ribbon label large"><h2>{{vm.reviewData.those_movie_guys_rating}}</h2></i><i class="edit link icon" ng-click="vm.showEditForm()" ng-show="hm.user.admin"></i><i class="remove link icon" ng-really-message="Are you sure you want to delete?" ng-really-click="vm.deleteReview(vm.reviewData.id)" ng-show="hm.user.admin"></i></div>
      <a class="ui blue right corner label" ng-click="vm.addToList(vm.reviewData.id)" ng-show="hm.user.lists.length > 0"><i class="bookmark icon"></i></a>
      <img src="{{vm.reviewData.picture_url}}">
    </div>
    
    <div class="content">
      <div class="header">{{vm.reviewData.title}}</div>
      <div class="meta">
        <span class="location">{{vm.reviewData.viewing_platform}}</span>
      </div>
      <div class="description">
        <p>{{vm.reviewData.those_movie_guys_review}}</p>
      </div>
      <div class="meta">
        <img src="http://ia.media-imdb.com/images/M/MV5BMTQyMTcxNjg5Nl5BMl5BcG5nXkFtZTgwOTgzNDg0MjE@._V1_.png" id="thumbnail-logo">
        <a href="http://imdb.com/title/{{vm.reviewData.imdb_id }}" target="_blank"><u>{{vm.reviewData.imdb_rating}}</u></a>
        <img src="http://www.billdamon.com/images/rottentomatoes/fresh.png" id="thumbnail-logo"><a href="{{vm.reviewData.tomato_url}}" target="_blank"><u>Critics - {{vm.reviewData.tomato_critics}}%</u></a>
        <img src="http://www.billdamon.com/images/rottentomatoes/fresh.png" id="thumbnail-logo">
        <a href="{{vm.reviewData.tomato_url}}" target="_blank"><u>Users - {{vm.reviewData.tomato_user}}%</u></a>
      </div>
      <div class="meta">
          <p>Actors: {{vm.reviewData.actors}}</p>
          <p>Genres: {{vm.reviewData.genres}}</p>
          <p>Directors: {{vm.reviewData.director}}</p>
          <p>Writers: {{vm.reviewData.writer}}</p>
          <p>Runtime: {{vm.reviewData.runtime}}</p>
      </div>
      

      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        <div class="comment" ng-repeat="comment in vm.reviewData.comments | orderBy: '-created_at'">
          <div class="content">
            <a class="author">{{comment.user.username}}</a>
            <div class="metadata">
              <span class="date">
              {{comment.created_at | date: 'longDate'}} 
              <a style="color:blue" ng-click="vm.createLike(vm.reviewData.id,comment.id)" ng-show="hm.user.email" class="item"><i ng-click="vm.createLike(vm.reviewData.id,comment.id)" ng-show="hm.user.email" class="like link icon"></i><div class="ui red label">{{comment.likes.length}}</div></a>
              <a style="color:black" ng-show="hm.user.id == comment.user.id" ng-click="vm.editComment()"><i class="edit icon"></i></a>
              <a style="color:black" ng-show="hm.user.id == comment.user.id" ng-really-message="Are you sure you want to delete this comment?" ng-really-click="vm.deleteComment(comment.id)"><i class="remove icon"></i></a>
              </span>
            </div>
            <div class="text">
              {{comment.comment}}
            </div>
          </div>
          <!-- Edit Comment -->
          <div ng-include="'review/reviews_edit_comment.html'"></div>
        </div>
        </div>

        
        <form class="ui reply form">
          <div class="field">
            <input ng-show="hm.user.email" ng-model="vm.newComment[vm.reviewData.id]" class="small_text_area" placeholder="Add Comment">
          </div>
          <div class="mini ui blue labeled submit icon button" ng-click="vm.createComment(vm.reviewData.id)" ng-show="hm.user.email">
            <i class="icon edit"></i> Add Reply
          </div>
        </form>


    </div>
    <!-- Edit Review Form - Admin -->
    <div ng-show="vm.editTrueValue" ng-include="'review/edit.html'"></div>
  
  </div>
</div>
