<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div ng-show="showComments" class="comment" ng-repeat="comment in review.comments | orderBy: '-created_at' | startFrom:vm.currentCommentPage*vm.commentPageSize | limitTo: vm.commentPageSize">
    <div class="content">
      <a class="author">{{comment.user.username}}</a>
      <div class="metadata">
        <span class="date">
        {{comment.created_at | date: 'longDate'}} 
        <a style="color:blue" ng-click="vm.createLike(review.id,comment.id)" ng-show="hm.user.email" class="item"><i class="like icon"></i> Like<div class="ui red label">{{comment.likes.length}}</div></a>
        <a style="color:black" ng-show="hm.user.id == comment.user.id" ng-click="vm.editComment()"><i class="edit icon"></i></a>
        <a style="color:black" ng-show="hm.user.id == comment.user.id" ng-really-message="Are you sure you want to delete this comment?" ng-really-click="vm.deleteComment(comment.id)"><i class="remove icon"></i></a>
        </span>
      </div>
      <div class="text">
        {{comment.comment}}
      </div>
    </div>
    <!-- Edit Comment -->
    <div ng-include="'review/reviews_edit_comment.html'"></div>
  </div>
  </div>

  <div class="mini ui buttons">
  <button class="ui labeled icon button" ng-show="!vm.currentCommentPage <= 0" ng-disabled="vm.currentCommentPage == 0" ng-click="vm.currentCommentPage=vm.currentCommentPage-1"><i class="left chevron icon"></i>
        Previous
    </button>
    <button class="ui button disabled">{{vm.currentCommentPage+1}}/{{(vm.roundUpNumber(review.comments.length/vm.commentPageSize))}}</button>
    <button class="ui right labeled icon button" ng-show="!(vm.currentCommentPage >= (vm.roundUpNumber(review.comments.length/vm.commentPageSize - 1)))" ng-disabled="vm.currentCommentPage >= (vm.roundUpNumber(review.comments.length/vm.commentPageSize - 1))" ng-click="vm.currentCommentPage=vm.currentCommentPage+1">
        Next
        <i class="right chevron icon"></i>
    </button>
    </div>

  
  <form class="ui reply form">
    <div class="field">
      <input ng-show="hm.user.email" ng-model="vm.newComment" class="small_text_area" placeholder="Add Comment">
    </div>
    <div class="mini ui blue labeled submit icon button" ng-click="vm.createComment(review.id)" ng-show="hm.user.email">
      <i class="icon edit"></i> Add Reply
    </div>
    <div class="mini ui blue labeled submit icon button" ng-click='showComments = !showComments' ng-show="!showComments && review.comments.length > 0">
      <i class="toggle off icon"></i>
      Load Comments
    </div>
    <div class="mini ui blue labeled submit icon button" ng-click='showComments = !showComments' ng-show="showComments">
      <i class="toggle on icon"></i>
      Hide Comments
    </div>

  </form>