<input type="text" class="form-control" placeholder="Search By Title" ng-model="searchBox.title">
<input type="text" class="form-control" placeholder="Search By Rating" ng-model="searchBox.those_movie_guys_rating">

<a href="#" ng-click="vm.showListForm()">Create List</a>
<div ng-show="vm.listFormValue" ng-include="'review/createListForm.html'"></div>

<br></br>

<div class="container" ng-repeat="review in vm.reviews | orderBy: '+':true | filter:searchBox">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img class="img-thumbnail" src="{{review.picture_url}}" alt="movie_poster"/>
                <div class="commentText" ng-repeat="comment in review.comments | orderBy: 'comments.created_at' | limitTo:vm.commentsLimit" id="white-text">
                    <p class="">{{comment.comment}}-{{comment.user.username}}-{{comment.created_at | date: 'longDate'}}-{{comment.likes.length}} Likes </p><button  id="thumbnail-logo" class="glyphicon glyphicon-thumbs-up" ng-click="vm.createLike(review.id,comment.id)" ng-show="hm.user.email" name="like"></button>
                    <button type="button" ng-show="hm.user.id == comment.user.id" ng-click="vm.deleteComment(comment.id)" class="glyphicon glyphicon-remove"></button>
                    <button type="button" ng-show="hm.user.id == comment.user.id" ng-click="vm.editComment()" class="glyphicon glyphicon-edit"></button>

                    <div class="form-group" ng-show="vm.editCommentToggle">
                    <input class="form-control"  type="text" placeholder="{{comment.comment}}" ng-model="vm.newComment"/>
                    <button type="submit" class="btn btn-default" ng-click="vm.updateComment(comment.id, comment.review_id)">Edit Comment</button>
                    </div></div>


                    <button ng-click='vm.loadMore(review.id)' ng-show="review.comments.length > 0">Load More</button>
                
                <div class="form-group">
                <input class="form-control"  type="text" placeholder="Your comments" ng-show="hm.user.email" ng-model="vm.newComment"/>
                <button class="btn btn-default" ng-click="vm.createComment(review.id)" ng-show="hm.user.email">Add Comment</button>
                </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-12" id="white-text">
            <div class="caption">
              <h3><a href="http://imdb.com/title/{{review.imdb_id}}" target="_blank">{{review.title}}</a></h3>

              <form class=form-group ng-submit="vm.addToList(review.id)">
                <select name="lists" class="form-control" id="dropdown-small">
                  <option ng-repeat="list in hm.user.lists" value="{{list.name}}">{{list.name}}</option>
                </select>
                <input type="submit" value="Add to List">
              </form>

              <p id="tmgRating">{{review.those_movie_guys_rating}}</p><button type="button" class="btn btn-default btn-sm" ng-click="vm.showEditForm()" ng-show="hm.user.admin"><span class="glyphicon glyphicon-edit"></span> Edit</button><button type="button" class="btn btn-default btn-sm" ng-click="vm.deleteReview(review.id)" ng-show="hm.user.admin"><span class="glyphicon glyphicon-edit"></span>Delete</button>
              
              <div ng-show="vm.editTrueValue" ng-include="'review/edit.html'"></div>
              
              <p>Those Movie Guys Review: {{review.those_movie_guys_review}}</p>
              <p><img src="http://ia.media-imdb.com/images/M/MV5BMTQyMTcxNjg5Nl5BMl5BcG5nXkFtZTgwOTgzNDg0MjE@._V1_.png" id="thumbnail-logo">
              <a href="http://imdb.com/title/{{ review.imdb_id }}" target="_blank">{{review.imdb_rating}}</a>  
              <img src="http://www.billdamon.com/images/rottentomatoes/fresh.png" id="thumbnail-logo"><a href="{{review.tomato_url}}" target="_blank">Critics - {{review.tomato_critics}}%</a>
              <img src="http://www.billdamon.com/images/rottentomatoes/fresh.png" id="thumbnail-logo">
              <a href="{{review.tomato_url}}" target="_blank">Users - {{review.tomato_user}}%</a></p>
            </div>            
        </div>
         
         <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="caption" id="white-text">
              <h3>Details</h3>
              <p>Actors: {{review.actors}}</p>
              <p>Genres: {{review.genres}}</p>
              <p>Directors: {{review.director}}</p>
              <p>Writers: {{review.writer}}</p>
              <p>Runtime: {{review.runtime}}</p>
            </div>            
        </div>
    
</div>


