/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "semantic-ui";

.active {
  background-color: yellow;
}
 .navbar {
     margin-bottom: 10;
 }

 #uppercase{
 text-transform: capitalize;
 }
 .small-image{
    height: 50px;
    width: 25%;
 }

 .small_text_area {
 width: 10%;
 height: 5%;
 }

 #trending-background {
 background-image: url('http://theamazingworldofpsychiatry.files.wordpress.com/2010/09/istock_000009307982large.jpg');
 }

.image {
  display: table-cell;    
}

.img-thumbnail {
     max-width: 50%; 
     max-height: 25%;
}

div.sidebar-left {
     padding: 30px;
     float: left;
     width: 10%;
     height: 100vh;
     background-color: #A9A9A9;
     box-sizing: border-box;
 }

 a:active {
     color: white;
 }

 a {
     text-decoration: none;
     color: white;
 }

 body     {
 margin-left: 5%;
 
 }

body > .grid {
      height: 100%;
    }
.image {
      margin-top: -100px;
    }
.column {
      max-width: 450px;
    }

 p.link-text    {
     color: white;
 }

 #white-text   {
 color: white;
 }

 #black-text   {
 color: black;
 background-color: #fff;
 }

 #thumbnail-logo    {
 max-width: 5%;
 max-height: 5%;
 }

input[type="text"] {
height: 28px;
width: 200px;
margin: 0;
padding: 0;
font-size: 15px;
border: 1px solid #CCCCCC;
}

input[type="number"] {
height: 28px;
width: 200px;
margin: 0;
padding: 0;
font-size: 15px;
border: 1px solid #CCCCCC;
}

#tmgRating  {
  color: #fff;
  padding: .2em .6em .3em;
  font-size: 30px;
}

#dropdown-small  {
  width: 25%;
}

